openapi: 3.0.3
info:
  version: 1.0.0
  title: REST API
  description: REST-like API provides access to rich Zerion ecosystem.
  contact:
    name: Zerion API
    url: https://developers.zerion.io/
    email: api@zerion.io
servers:
  - description: Production API
    url: https://api.zerion.io
security:
  - APIKeyBasicAuth: []
tags:
  - name: wallets
    description: >-
      Operations related to wallets, such as portfolio charts, positions, and
      transactions.
  - name: wallet sets
    description: >-
      Operations on a wallet set — aggregated portfolio data across at most one
      EVM address and one Solana address queried together.
  - name: fungibles
    description: >-
      Operations related to fungible assets, such as list them all, search or
      get by ID.
  - name: chains
    description: Operations related to chains, such as list all chains.
  - name: swap
    description: Operations related to swapping and bridging assets.
  - name: gas
    description: Operations related to gas.
  - name: nfts
    description: >-
      Operations related to non fungible assets, such list them, search or get
      by ID.
  - name: dapps
    description: >-
      Operations related to decentralized applications, such as list them all,
      search or get by ID.
  - name: subscriptions to transactions
    description: Operations related to subscriptions to transactions.
paths:
  /v1/wallets/{address}/charts/{chart_period}:
    get:
      operationId: getWalletChart
      summary: Get wallet balance chart
      description: >
        This endpoint returns a portfolio balance chart for a wallet.

        This is over a specified time period, based on the provided start and
        end timestamps.

        Results can be filtered by blockchain and asset type, offering flexible
        and detailed visualizations of wallet performance, similar to what you
        see in the Zerion interface.


        **Complex positions.** By default the chart counts only simple
        positions: token and native-coin balances held directly in the wallet.
        Set `filter[positions]` to `only_complex` or `no_filter` to also include
        complex DeFi protocol positions. Uniswap V2 LP positions are supported
        today, and support for more protocols is rolling out over time.
        Positions from protocols that aren't yet supported are omitted from the
        chart.
      tags:
        - wallets
      parameters:
        - $ref: '#/components/parameters/ChartPeriod'
        - $ref: '#/components/parameters/Currency'
        - $ref: '#/components/parameters/WalletAddress'
        - name: filter[chain_ids]
          in: query
          style: form
          explode: false
          description: >-
            Account only for balance on these chains (comma-separated list).
            Available chain ids can be found in chains endpoints.
          schema:
            type: array
            example:
              - aurora
            maxItems: 25
            items:
              type: string
        - name: filter[fungible_ids]
          in: query
          style: form
          explode: false
          description: >-
            Account only for balance of given fungible assets (comma-separated
            list). Mutually exclusive with `filter[exclude_fungible_ids]` —
            combining both returns `400`.
          schema:
            type: array
            maxItems: 25
            items:
              type: string
              maxLength: 44
        - name: filter[exclude_fungible_ids]
          in: query
          style: form
          explode: false
          description: >-
            Exclude balance contributions from the given fungible assets
            (comma-separated list). Useful when the set you want to keep is
            large but the set you want to omit is small. Mutually exclusive with
            `filter[fungible_ids]` — combining both returns `400`.
          schema:
            type: array
            maxItems: 25
            items:
              type: string
              maxLength: 44
        - name: filter[pool_addresses]
          in: query
          style: form
          explode: false
          description: >-
            Restrict the balance chart to specific liquidity-pool / vault
            positions, identified by their contract address (comma-separated
            list) — the Uniswap V2 LP-token or ERC-4626 vault (e.g. Morpho)
            address. Only the matching protocol positions are charted; simple
            token and native-coin balances are excluded. These are complex
            (protocol) positions, so passing `filter[positions]=only_simple`
            alongside this filter returns `400`. Mutually exclusive with
            `filter[exclude_pool_addresses]` — combining both returns `400`.
          schema:
            type: array
            maxItems: 25
            items:
              type: string
              maxLength: 44
        - name: filter[exclude_pool_addresses]
          in: query
          style: form
          explode: false
          description: >-
            Exclude specific liquidity-pool / vault positions from the balance
            chart, identified by their contract address (comma-separated list) —
            the Uniswap V2 LP-token or ERC-4626 vault (e.g. Morpho) address. The
            matching positions are removed; the rest of the portfolio (including
            simple balances) is kept. These are complex (protocol) positions, so
            passing `filter[positions]=only_simple` alongside this filter —
            which would already drop every protocol position, making the
            exclusion a no-op — returns `400`. Mutually exclusive with
            `filter[pool_addresses]` — combining both returns `400`.
          schema:
            type: array
            maxItems: 25
            items:
              type: string
              maxLength: 44
        - name: filter[positions]
          in: query
          style: form
          explode: false
          description: >
            Which positions to include in the balance chart.

            - `only_simple` (default) — simple positions only: wallet token and
            native-coin balances.

            - `only_complex` — complex DeFi protocol positions only (e.g.
            liquidity-pool and vault positions).

            - `no_filter` — include both simple and complex positions.


            Uniswap V2 LP positions are supported today, and support for more
            protocols is rolling out over time.
          schema:
            type: string
            default: only_simple
            enum:
              - only_simple
              - only_complex
              - no_filter
      responses:
        '200':
          $ref: '#/components/responses/ChartsResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/wallets/{address}/pnl:
    get:
      operationId: getWalletPNL
      summary: Get wallet PnL
      description: >
        This endpoint returns the Profit and Loss (PnL) details of a web3
        wallet.

        This includes Unrealized PnL, Realized PnL, Net Invested amounts and
        filters for asset categories like Non Fungible Tokens (NFTs).

        It uses the FIFO (First In, First Out) standard for calculations,
        providing accurate insights into wallet performance.

        Ideal for tracking and analyzing financial outcomes of wallet activity.


        The very first request for a wallet might result in a 503 which should
        be retried later.

        Wallets with over 1 million transactions are not supported.
      tags:
        - wallets
      parameters:
        - $ref: '#/components/parameters/Currency'
        - $ref: '#/components/parameters/WalletAddress'
        - name: filter[chain_ids]
          in: query
          style: form
          explode: false
          description: Calculate PnL only for specified chains (comma-separated list).
          schema:
            type: array
            example:
              - ethereum
              - polygon
            maxItems: 25
            items:
              type: string
        - name: filter[fungible_ids]
          in: query
          style: form
          explode: false
          description: >
            Account only for PnL related to given fungible assets
            (comma-separated list). Maximum of 100 fungible IDs allowed.


            When filtering by fungible_ids or fungible_implementations, assets
            without available prices are automatically excluded from
            calculations instead of causing an error. Excluded assets are
            returned in the response metadata for transparency.
          schema:
            type: array
            maxItems: 100
            items:
              type: string
              maxLength: 44
        - name: filter[fungible_implementations]
          in: query
          style: form
          explode: false
          description: >
            Account only for PnL related to given fungible asset implementations
            (comma-separated list of chain:address pairs). Maximum of 100
            implementations allowed.

            example:
            "base:0xae16c445d8a4082cecb49a9465e4dd5499df947d,ethereum:0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"


            When filtering by fungible_ids or fungible_implementations, assets
            without available prices are automatically excluded from
            calculations instead of causing an error. Excluded assets are
            returned in the response metadata for transparency.
          schema:
            type: array
            maxItems: 100
            items:
              type: string
        - name: since
          in: query
          required: false
          description: >-
            Only account sales since the given date.

            A unix timestamp in milliseconds.

            **Note:** PnL is pre-computed at standard marks (`now`, `1 day ago`,
            `1 week ago`, `1 month ago`, `1 year ago`, `beginning of the year`).
            Other values are supported only if fewer than 3,000 transactions sit
            between your timestamp and the nearest mark — otherwise the request
            errors out.
          schema:
            type: string
            example: '1688842525735'
            minLength: 13
            maxLength: 13
        - name: till
          in: query
          required: false
          description: >-
            Only account sales till the given date.

            A unix timestamp in milliseconds.

            **Note:** PnL is pre-computed at standard marks (`now`, `1 day ago`,
            `1 week ago`, `1 month ago`, `1 year ago`, `beginning of the year`).
            Other values are supported only if fewer than 3,000 transactions sit
            between your timestamp and the nearest mark — otherwise the request
            errors out.
          schema:
            type: string
            example: '1688842525735'
            minLength: 13
            maxLength: 13
      responses:
        '200':
          $ref: '#/components/responses/PNLResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/RetryAfter'
  /v1/wallets/{address}/portfolio:
    get:
      operationId: getWalletPortfolio
      summary: Get wallet portfolio
      description: >
        This endpoint returns the portfolio overview of a web3 wallet.


        **Temporary limitations for Solana addresses:**

        - Doesn't support protocol positions


        > NOTE: Don't forget to stop retries after some reasonable period of
        time. If the `200` status is not returned within 2 minutes it most
        probably means that some unexpected error occurred and the client should
        stop the polling.


        > NOTE: Consider all IDs as abstract strings, without making any
        assumptions about their format or relying on such assumptions. There is
        a non-zero probability that IDs may change in the future, and this
        should not result in any breaking changes.
      tags:
        - wallets
      parameters:
        - name: filter[positions]
          in: query
          required: false
          description: >
            This parameter allows to customize the aggregation of DeFi positions
            within a portfolio based on their types. The aggregation can
            include:

              - `only_simple`: Only includes wallet-type positions, which are basic, non-protocol related assets. This is the default selection if the parameter is not specified.
              - `only_complex`: Aggregates positions associated with DeFi protocols only (e.g., staked assets, liquidity pools), like Uniswap or Aave, excluding simple wallet positions.
              - `no_filter`: Provides an aggregated view of both protocol-related and simple wallet positions without any filtering.

            The selection of filters affects the composition of the aggregated
            portfolio results, allowing for tailored analysis and reporting
            based on the types of positions of interest.


            > ⚠️ Note: Enterprise usage of this API may be subject to different
            pricing models depending on the selected filter type. For detailed
            pricing information, please contact `api@zerion.io`.
          schema:
            type: string
            default: only_simple
            enum:
              - only_simple
              - only_complex
              - no_filter
        - $ref: '#/components/parameters/Currency'
        - $ref: '#/components/parameters/WalletAddress'
      responses:
        '200':
          $ref: '#/components/responses/PortfolioResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/wallets/{address}/positions/:
    get:
      operationId: listWalletPositions
      summary: Get wallet fungible positions
      description: >
        This endpoint returns a list of wallet positions.


        This endpoint supports testnets. To get data for testnets use `X-Env`
        header.


        **Understanding Liquidity Pool Positions:**


        Liquidity pools (Uniswap, Curve, Balancer, etc.) return **multiple
        positions** - one for each token in the pool. Positions belonging to the
        same pool share the same `group_id` value in attributes.


        For example, a Uniswap V2 USDC/WETH pool returns two positions:

        - Position 1: WETH token,
        `group_id="820ee2f1ca8ccb716f6beb5e450908a028be890ec44aba87c739b416ef41e197"`,
        `fungible_info.symbol="WETH"`

        - Position 2: USDC token,
        `group_id="820ee2f1ca8ccb716f6beb5e450908a028be890ec44aba87c739b416ef41e197"`,
        `fungible_info.symbol="USDC"`


        To display all tokens in a liquidity pool together, group positions by
        their `group_id` attribute.


        **Temporary limitations for Solana addresses:**

        - Doesn't support protocol positions


        > NOTE: Don't forget to stop retries after some reasonable period of
        time. If the `200` status is not returned within 2 minutes it most
        probably means that some unexpected error occurred and the client should
        stop the polling.


        > NOTE: This endpoint is not paginated and returns all matching
        positions in a single response. It supports a lot of filters and sorting
        parameters, so make sure that a request URL length is in a safe range
        for your platform. Usually, 2000 characters are the safe limit in
        virtually any combination of client and server software.


        > NOTE: Consider all IDs as abstract strings, without making any
        assumptions about their format or relying on such assumptions. There is
        a non-zero probability that IDs may change in the future, and this
        should not result in any breaking changes.
      tags:
        - wallets
      parameters:
        - name: filter[positions]
          in: query
          required: false
          description: >
            This parameter allows users to filter DeFi positions based on their
            types. There are three options:


            - `only_simple`: Retrieves exclusively wallet-type positions. These
            are basic, non-protocol related positions. This option is applied if
            parameter is not specified.

            - `only_complex`: Fetches only positions associated with all DeFi
            protocols (including staked assets, liquidity pools, etc), like
            Uniswap or Aave. This option excludes simple wallet positions.

            - `no_filter`: Applies no filtering, thus returning both
            protocol-related and simple wallet positions.


            > ⚠️ Note: Different pricing models are applied for enterprise usage
            of this API, depending on the filter type selected. For detailed
            pricing information, please reach out to us at `api@zerion.io`.
          schema:
            type: string
            default: only_simple
            enum:
              - only_simple
              - only_complex
              - no_filter
        - $ref: '#/components/parameters/Currency'
        - $ref: '#/components/parameters/WalletAddress'
        - name: filter[position_types]
          in: query
          style: form
          explode: false
          description: >
            Keep only positions with these types (comma-separated list).


            Possible values:

            - `deposit` - Assets deposited into a DeFi protocol (e.g., supplied
            to lending pools, deposited in vaults, or provided as liquidity)

            - `loan` - Borrowed assets representing a debt position that needs
            to be repaid

            - `locked` - Assets locked for a specific period or purpose (e.g.,
            vote-escrowed tokens, time-locked tokens)

            - `staked` - Assets staked in a protocol to earn rewards,
            participate in consensus, or for governance purposes

            - `reward` - Earned rewards that are claimable or have been
            distributed but not yet withdrawn

            - `wallet` - Regular assets held directly in the wallet, not
            actively deposited in any protocol

            - `investment` - Investment positions such as tokenized funds,
            indices, or structured products
          schema:
            type: array
            maxItems: 8
            items:
              $ref: '#/components/schemas/PositionType'
        - name: filter[chain_ids]
          in: query
          style: form
          explode: false
          description: >-
            Keep only positions from these chains (comma-separated list).
            Available chain ids can be found in chains endpoints.
          schema:
            type: array
            example:
              - polygon
            maxItems: 25
            items:
              type: string
        - name: filter[fungible_ids]
          in: query
          style: form
          explode: false
          description: >-
            Keep only positions related to given fungible assets
            (comma-separated list).
          schema:
            type: array
            maxItems: 25
            items:
              type: string
              maxLength: 44
        - name: filter[dapp_ids]
          in: query
          style: form
          explode: false
          description: >-
            Keep only positions related to these decentralized applications
            (dapps) (comma-separated list).
          schema:
            type: array
            example:
              - polygon
            maxItems: 25
            items:
              type: string
              maxLength: 32
              minLength: 1
        - name: filter[trash]
          in: query
          required: false
          description: >-
            Filter positions based on the `is_trash` flag. If no flag is
            specified, then `only_non_trash` is applied.
          schema:
            type: string
            default: only_non_trash
            enum:
              - only_trash
              - only_non_trash
              - no_filter
        - name: sort
          in: query
          required: false
          description: Choose how the result should be ordered
          schema:
            type: string
            default: value
            enum:
              - '-value'
              - value
        - name: X-Env
          in: header
          description: Custom header that allows you to get data for testnets.
          required: false
          schema:
            type: string
            enum:
              - testnet
      responses:
        '200':
          $ref: '#/components/responses/PositionsListResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/RetryAfter'
  /v1/wallets/{address}/transactions/:
    get:
      operationId: listWalletTransactions
      summary: Get wallet transactions
      description: >
        This endpoint returns a list of transactions associated with the wallet.


        This endpoint supports testnets. To get data for testnets use `X-Env`
        header.


        **Temporary limitations for Solana addresses:**

        - Doesn't support NFT transactions


        > NOTE: This endpoint supports a lot of filters, sorting, and pagination
        parameters. Make sure that your request URL length is safe for your
        platform. Usually, 2000 characters are the safe limit in virtually any
        combination of client and server software.


        > NOTE: Consider all IDs as abstract strings, without making any
        assumptions about their format or relying on such assumptions. There is
        a non-zero probability that IDs may change in the future, and this
        should not result in any breaking changes.
      tags:
        - wallets
      parameters:
        - $ref: '#/components/parameters/Currency'
        - $ref: '#/components/parameters/Page'
        - name: address
          in: path
          required: true
          description: >-
            Address of the wallet. Must be a valid EVM or Solana address.
            Returns 400 if the address is not tracked by Zerion.
          schema:
            type: string
        - name: filter[search_query]
          in: query
          required: false
          description: Query for a full-text search.
          schema:
            type: string
            example: Trade
            minLength: 2
            maxLength: 64
        - name: filter[operation_types]
          in: query
          required: false
          description: >-
            Return only transactions with specified types (comma-separated
            list). See the operation type schema for the full list of values.
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Type'
        - name: filter[asset_types]
          in: query
          required: false
          description: >-
            Return only transactions that contain specified asset types
            (comma-separated list).
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AssetType'
        - name: filter[chain_ids]
          in: query
          required: false
          description: >-
            Return only transactions from specified chains (comma-separated
            list). You can find available chain ids in chain endpoints.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              example: polygon
        - name: filter[fungible_ids]
          in: query
          required: false
          description: >-
            Return only transactions with fungibles with specified ids
            (comma-separated list).
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              example: '0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48'
        - name: filter[min_mined_at]
          in: query
          required: false
          description: >-
            Return only transactions since specific date. Timestamp in
            milliseconds.
          schema:
            type: string
            example: '1688842525735'
            minLength: 13
            maxLength: 13
        - name: filter[max_mined_at]
          in: query
          required: false
          description: >-
            Return only transactions until specific date. Timestamp in
            milliseconds.
          schema:
            type: string
            example: '1694192535967'
            minLength: 13
            maxLength: 13
        - name: filter[trash]
          in: query
          required: false
          description: >-
            Filter transactions based on the `is_trash` flag. If no flag is
            specified, then `no_filter` is applied.
          schema:
            type: string
            default: no_filter
            enum:
              - only_trash
              - only_non_trash
              - no_filter
        - name: filter[fungible_implementations]
          in: query
          style: form
          explode: false
          required: false
          description: >
            Specify implementations of fungible tokens as a comma-separated list
            of `chain:address` pairs.


            Example format:
            `ethereum:0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,polygon:0x123456789abcdef123456789abcdef123456789`


            Each item consists of a blockchain `chain_id` and an `address`,
            separated by a colon (`:`). Multiple pairs can be provided using
            commas (`,`).
          schema:
            type: array
            items:
              type: string
              example: ethereum:0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48
        - name: X-Env
          in: header
          description: Custom header that allows you to get data for testnets.
          required: false
          schema:
            type: string
            enum:
              - testnet
      responses:
        '200':
          $ref: '#/components/responses/TransactionsListResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/wallets/{address}/nft-positions/:
    get:
      operationId: listWalletNFTPositions
      summary: Get wallet NFT positions
      description: >
        This endpoint returns a list of the NFT positions held by a specific
        wallet.


        This endpoint supports testnets. To get data for testnets use `X-Env`
        header.


        If the wallet address has not been previously added, this endpoint may
        return a `202` status code. This indicates that the wallet's positions
        are not yet available, but will be in the near future. In this case, the
        client should periodically request this endpoint until a `200` status
        code is returned.


        > NOTE: It is important to stop retrying after a reasonable period of
        time. If a `200` status code is not returned within 2 minutes, it is
        likely that an unexpected error has occurred and the client should stop
        polling.


        > NOTE: This endpoint provides support for filters, sorting, and
        pagination parameters. Ensure that the length of the request URL falls
        within a safe range for your platform. Typically, a length of 2000
        characters is a safe limit for most combinations of client and server
        software.


        > NOTE: Consider all IDs as abstract strings, without making any
        assumptions about their format or relying on such assumptions. There is
        a non-zero probability that IDs may change in the future, and this
        should not result in any breaking changes.
      tags:
        - wallets
      parameters:
        - $ref: '#/components/parameters/WalletAddress'
        - name: filter[chain_ids]
          in: query
          style: form
          explode: false
          description: >-
            Keep only positions from the specified chains (comma-separated
            list). Available chains IDs can be found in chains endpoint.
          schema:
            type: array
            example:
              - ethereum
              - polygon
            maxItems: 25
            items:
              type: string
        - name: filter[collections_ids]
          in: query
          style: form
          explode: false
          description: >-
            Keep only positions from collections with specified IDs
            (comma-separated list). The IDs are returned inside the 'collection'
            field of each NFT.
          schema:
            type: array
            items:
              type: integer
              format: int64
        - name: sort
          in: query
          required: false
          description: The order of NFTs in the result.
          schema:
            type: string
            example: '-floor_price'
            enum:
              - created_at
              - '-created_at'
              - floor_price
              - '-floor_price'
        - name: include
          in: query
          required: false
          style: form
          explode: false
          description: >-
            Array of related resources to be included to the response
            (comma-separated list). This parameter corresponds to the JSON API
            schema.
          schema:
            type: array
            items:
              type: string
              example: nfts
              enum:
                - nfts
                - nft_collections
                - wallet_nft_collections
        - $ref: '#/components/parameters/Currency'
        - $ref: '#/components/parameters/NFTPositionsPage'
        - name: X-Env
          in: header
          description: Custom header that allows you to get data for testnets.
          required: false
          schema:
            type: string
            enum:
              - testnet
      responses:
        '200':
          $ref: '#/components/responses/NFTPositionsResponse'
        '202':
          $ref: '#/components/responses/NFTPositionsProcessingResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/wallets/{address}/nft-collections/:
    get:
      operationId: listWalletNFTCollections
      summary: Get wallet NFT collections
      description: >
        This endpoint returns a list of the NFT collections held by a specific
        wallet.


        This endpoint supports testnets. To get data for testnets use `X-Env`
        header.


        If the wallet address has not been previously added, this endpoint may
        return a `202` status code. This indicates that the wallet's collections
        are not yet available, but will be in the near future. In this case, the
        client should periodically request this endpoint until a `200` status
        code is returned.


        > NOTE: It is important to stop retrying after a reasonable period of
        time. If a `200` status code is not returned within 2 minutes, it is
        likely that an unexpected error has occurred, and the client should stop
        polling.


        > NOTE: This endpoint provides support for filters, sorting. Ensure that
        the length of the request URL falls within a safe range for your
        platform. Typically, a length of 2000 characters is a safe limit for
        most combinations of client and server software.


        > NOTE: Consider all IDs as abstract strings, without making any
        assumptions about their format or relying on such assumptions. There is
        a non-zero probability that IDs may change in the future, and this
        should not result in any breaking changes.
      tags:
        - wallets
      parameters:
        - $ref: '#/components/parameters/WalletAddress'
        - name: filter[chain_ids]
          in: query
          style: form
          explode: false
          description: >-
            Keep only collections from the specified chains (comma-separated
            list). Available chain IDs can be found in the chains endpoint.
          schema:
            type: array
            example:
              - ethereum
              - polygon
            maxItems: 25
            items:
              type: string
        - $ref: '#/components/parameters/WalletNFTCollectionsSort'
        - $ref: '#/components/parameters/Currency'
        - name: include
          in: query
          required: false
          style: form
          explode: false
          description: >-
            Array of related resources to be included to the response
            (comma-separated list). This parameter corresponds to the JSON API
            schema.
          schema:
            type: array
            items:
              type: string
              example: nft_collections
              enum:
                - nft_collections
        - name: X-Env
          in: header
          description: Custom header that allows you to get data for testnets.
          required: false
          schema:
            type: string
            enum:
              - testnet
      responses:
        '200':
          $ref: '#/components/responses/NFTCollectionsResponse'
        '202':
          $ref: '#/components/responses/NFTCollectionsProcessingResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/wallets/{address}/nft-portfolio:
    get:
      operationId: getWalletNftPortfolio
      summary: Get wallet NFT portfolio
      description: >
        This endpoint returns the NFT portfolio overview of a web3 wallet.


        This endpoint supports testnets. To get data for testnets use `X-Env`
        header.


        If the address was not added before it is possible that this endpoint
        will return `202` status. It means that portfolio for the wallet is not
        prepared yet, but will be available soon. In that case the client have
        to request this endpoint periodically, while `200` status wasn't
        returned.


        > NOTE: Don't forget to stop retries after some reasonable period of
        time. If the `200` status is not returned within 2 minutes it most
        probably means that some unexpected error occurred and the client should
        stop the polling.
      tags:
        - wallets
      parameters:
        - $ref: '#/components/parameters/Currency'
        - $ref: '#/components/parameters/WalletAddress'
        - name: X-Env
          in: header
          description: Custom header that allows you to get data for testnets.
          required: false
          schema:
            type: string
            enum:
              - testnet
      responses:
        '200':
          $ref: '#/components/responses/NFTPortfolioResponse'
        '202':
          $ref: '#/components/responses/NFTPortfolioProcessingResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/wallet-sets/charts/{chart_period}:
    get:
      operationId: getWalletSetChart
      summary: Get wallet set balance chart
      description: >
        This endpoint returns a portfolio balance chart for a wallet set.

        A wallet set is represented by an EVM address, a Solana address, or
        both. At least one address must be provided.

        This is over a specified time period, based on the provided start and
        end timestamps.

        Results can be filtered by blockchain and asset type, offering flexible
        and detailed visualizations of wallet set performance, similar to what
        you see in the Zerion interface.


        **Complex positions.** By default the chart counts only simple
        positions: token and native-coin balances held directly in the wallet.
        Set `filter[positions]` to `only_complex` or `no_filter` to also include
        complex DeFi protocol positions. Uniswap V2 LP positions are supported
        today, and support for more protocols is rolling out over time.
        Positions from protocols that aren't yet supported are omitted from the
        chart.
      tags:
        - wallet sets
      parameters:
        - $ref: '#/components/parameters/WalletSetAddresses'
        - $ref: '#/components/parameters/ChartPeriod'
        - $ref: '#/components/parameters/Currency'
        - name: filter[chain_ids]
          in: query
          style: form
          explode: false
          description: >-
            Account only for balance on these chains (comma-separated list).
            Available chain ids can be found in chains endpoints.
          schema:
            type: array
            example:
              - aurora
            maxItems: 25
            items:
              type: string
        - name: filter[fungible_ids]
          in: query
          style: form
          explode: false
          description: >-
            Account only for balance of given fungible assets (comma-separated
            list). Mutually exclusive with `filter[exclude_fungible_ids]` —
            combining both returns `400`.
          schema:
            type: array
            maxItems: 25
            items:
              type: string
              maxLength: 44
        - name: filter[exclude_fungible_ids]
          in: query
          style: form
          explode: false
          description: >-
            Exclude balance contributions from the given fungible assets
            (comma-separated list). Useful when the set you want to keep is
            large but the set you want to omit is small. Mutually exclusive with
            `filter[fungible_ids]` — combining both returns `400`.
          schema:
            type: array
            maxItems: 25
            items:
              type: string
              maxLength: 44
        - name: filter[pool_addresses]
          in: query
          style: form
          explode: false
          description: >-
            Restrict the balance chart to specific liquidity-pool / vault
            positions, identified by their contract address (comma-separated
            list) — the Uniswap V2 LP-token or ERC-4626 vault (e.g. Morpho)
            address. Only the matching protocol positions are charted; simple
            token and native-coin balances are excluded. These are complex
            (protocol) positions, so passing `filter[positions]=only_simple`
            alongside this filter returns `400`. Mutually exclusive with
            `filter[exclude_pool_addresses]` — combining both returns `400`.
          schema:
            type: array
            maxItems: 25
            items:
              type: string
              maxLength: 44
        - name: filter[exclude_pool_addresses]
          in: query
          style: form
          explode: false
          description: >-
            Exclude specific liquidity-pool / vault positions from the balance
            chart, identified by their contract address (comma-separated list) —
            the Uniswap V2 LP-token or ERC-4626 vault (e.g. Morpho) address. The
            matching positions are removed; the rest of the portfolio (including
            simple balances) is kept. These are complex (protocol) positions, so
            passing `filter[positions]=only_simple` alongside this filter —
            which would already drop every protocol position, making the
            exclusion a no-op — returns `400`. Mutually exclusive with
            `filter[pool_addresses]` — combining both returns `400`.
          schema:
            type: array
            maxItems: 25
            items:
              type: string
              maxLength: 44
        - name: filter[positions]
          in: query
          style: form
          explode: false
          description: >
            Which positions to include in the balance chart.

            - `only_simple` (default) — simple positions only: wallet token and
            native-coin balances.

            - `only_complex` — complex DeFi protocol positions only (e.g.
            liquidity-pool and vault positions).

            - `no_filter` — include both simple and complex positions.


            Uniswap V2 LP positions are supported today, and support for more
            protocols is rolling out over time.
          schema:
            type: string
            default: only_simple
            enum:
              - only_simple
              - only_complex
              - no_filter
      responses:
        '200':
          $ref: '#/components/responses/ChartsResponse-2'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/wallet-sets/pnl:
    get:
      operationId: getWalletSetPNL
      summary: Get wallet set PnL
      description: >
        This endpoint returns the Profit and Loss (PnL) details of a wallet set.

        A wallet set is represented by an EVM address, a Solana address, or
        both. At least one address must be provided.

        This includes Unrealized PnL, Realized PnL, Net Invested amounts and
        filters for asset categories like Non Fungible Tokens (NFTs).

        It uses the FIFO (First In, First Out) standard for calculations,
        providing accurate insights into wallet set performance.

        Ideal for tracking and analyzing financial outcomes of wallet activity
        across multiple addresses.


        The very first request for a wallet set might result in a 503 which
        should be retried later.

        Wallet sets with over 1 million transactions are not supported.
      tags:
        - wallet sets
      parameters:
        - $ref: '#/components/parameters/WalletSetAddresses'
        - $ref: '#/components/parameters/Currency'
        - name: filter[chain_ids]
          in: query
          style: form
          explode: false
          description: Calculate PnL only for specified chains (comma-separated list).
          schema:
            type: array
            example:
              - ethereum
              - polygon
            maxItems: 25
            items:
              type: string
        - name: filter[fungible_ids]
          in: query
          style: form
          explode: false
          description: >
            Account only for PnL related to given fungible assets
            (comma-separated list). Maximum of 100 fungible IDs allowed.


            When filtering by fungible_ids or fungible_implementations, assets
            without available prices are automatically excluded from
            calculations instead of causing an error. Excluded assets are
            returned in the response metadata for transparency.
          schema:
            type: array
            maxItems: 100
            items:
              type: string
              maxLength: 44
        - name: filter[fungible_implementations]
          in: query
          style: form
          explode: false
          description: >
            Account only for PnL related to given fungible asset implementations
            (comma-separated list of chain:address pairs). Maximum of 100
            implementations allowed.

            example:
            "base:0xae16c445d8a4082cecb49a9465e4dd5499df947d,ethereum:0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"


            When filtering by fungible_ids or fungible_implementations, assets
            without available prices are automatically excluded from
            calculations instead of causing an error. Excluded assets are
            returned in the response metadata for transparency.
          schema:
            type: array
            maxItems: 100
            items:
              type: string
        - name: since
          in: query
          required: false
          description: >-
            Only account sales since the given date.

            A unix timestamp in milliseconds.

            **Note:** PnL is pre-computed at standard marks (`now`, `1 day ago`,
            `1 week ago`, `1 month ago`, `1 year ago`, `beginning of the year`).
            Other values are supported only if fewer than 3,000 transactions sit
            between your timestamp and the nearest mark — otherwise the request
            errors out.
          schema:
            type: string
            example: '1688842525735'
            minLength: 13
            maxLength: 13
        - name: till
          in: query
          required: false
          description: >-
            Only account sales till the given date.

            A unix timestamp in milliseconds.

            **Note:** PnL is pre-computed at standard marks (`now`, `1 day ago`,
            `1 week ago`, `1 month ago`, `1 year ago`, `beginning of the year`).
            Other values are supported only if fewer than 3,000 transactions sit
            between your timestamp and the nearest mark — otherwise the request
            errors out.
          schema:
            type: string
            example: '1688842525735'
            minLength: 13
            maxLength: 13
      responses:
        '200':
          $ref: '#/components/responses/PNLResponse-2'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/RetryAfter'
  /v1/wallet-sets/portfolio:
    get:
      operationId: getWalletSetPortfolio
      summary: Get wallet set portfolio
      description: >
        This endpoint returns a wallet set's portfolio overview.

        A wallet set is represented by an EVM address, a Solana address, or
        both. At least one address must be provided.


        **Temporary limitations for Solana addresses:**

        - Doesn't support protocol positions


        > NOTE: Don't forget to stop retries after some reasonable period of
        time. If the `200` status is not returned within 2 minutes it most
        probably means that some unexpected error occurred and the client should
        stop the polling.


        > NOTE: Consider all IDs as abstract strings, without making any
        assumptions about their format or relying on such assumptions. There is
        a non-zero probability that IDs may change in the future, and this
        should not result in any breaking changes.
      tags:
        - wallet sets
      parameters:
        - $ref: '#/components/parameters/WalletSetAddresses'
        - name: filter[positions]
          in: query
          required: false
          description: >
            This parameter allows to customize the aggregation of DeFi positions
            within a portfolio based on their types. The aggregation can
            include:

              - `only_simple`: Only includes wallet-type positions, which are basic, non-protocol related assets. This is the default selection if the parameter is not specified.
              - `only_complex`: Aggregates positions associated with DeFi protocols only (e.g., staked assets, liquidity pools), like Uniswap or Aave, excluding simple wallet positions.
              - `no_filter`: Provides an aggregated view of both protocol-related and simple wallet positions without any filtering.

            The selection of filters affects the composition of the aggregated
            portfolio results, allowing for tailored analysis and reporting
            based on the types of positions of interest.


            > ⚠️ Note: Enterprise usage of this API may be subject to different
            pricing models depending on the selected filter type. For detailed
            pricing information, please contact `api@zerion.io`.
          schema:
            type: string
            default: only_simple
            enum:
              - only_simple
              - only_complex
              - no_filter
        - $ref: '#/components/parameters/Currency'
      responses:
        '200':
          $ref: '#/components/responses/PortfolioResponse-2'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/wallet-sets/positions/:
    get:
      operationId: listWalletSetPositions
      summary: Get wallet set fungible positions
      description: >
        This endpoint returns a list of wallet set positions.

        A wallet set is represented by an EVM address, a Solana address, or
        both. At least one address must be provided.


        This endpoint supports testnets. To get data for testnets use `X-Env`
        header.


        **Understanding Liquidity Pool Positions:**


        Liquidity pools (Uniswap, Curve, Balancer, etc.) return **multiple
        positions** - one for each token in the pool. Positions belonging to the
        same pool share the same `group_id` value in attributes.


        For example, a Uniswap V2 USDC/WETH pool returns two positions:

        - Position 1: WETH token,
        `group_id="820ee2f1ca8ccb716f6beb5e450908a028be890ec44aba87c739b416ef41e197"`,
        `fungible_info.symbol="WETH"`

        - Position 2: USDC token,
        `group_id="820ee2f1ca8ccb716f6beb5e450908a028be890ec44aba87c739b416ef41e197"`,
        `fungible_info.symbol="USDC"`


        To display all tokens in a liquidity pool together, group positions by
        their `group_id` attribute.


        **Temporary limitations for Solana addresses:**

        - Doesn't support protocol positions


        > NOTE: Don't forget to stop retries after some reasonable period of
        time. If the `200` status is not returned within 2 minutes it most
        probably means that some unexpected error occurred and the client should
        stop the polling.


        > NOTE: This endpoint is not paginated and returns all matching
        positions in a single response. It supports a lot of filters and sorting
        parameters, so make sure that a request URL length is in a safe range
        for your platform. Usually, 2000 characters are the safe limit in
        virtually any combination of client and server software.


        > NOTE: Consider all IDs as abstract strings, without making any
        assumptions about their format or relying on such assumptions. There is
        a non-zero probability that IDs may change in the future, and this
        should not result in any breaking changes.
      tags:
        - wallet sets
      parameters:
        - $ref: '#/components/parameters/WalletSetAddresses'
        - name: filter[positions]
          in: query
          required: false
          description: >
            This parameter allows users to filter DeFi positions based on their
            types. There are three options:


            - `only_simple`: Retrieves exclusively wallet-type positions. These
            are basic, non-protocol related positions. This option is applied if
            parameter is not specified.

            - `only_complex`: Fetches only positions associated with all DeFi
            protocols (including staked assets, liquidity pools, etc), like
            Uniswap or Aave. This option excludes simple wallet positions.

            - `no_filter`: Applies no filtering, thus returning both
            protocol-related and simple wallet positions.


            > ⚠️ Note: Different pricing models are applied for enterprise usage
            of this API, depending on the filter type selected. For detailed
            pricing information, please reach out to us at `api@zerion.io`.
          schema:
            type: string
            default: only_simple
            enum:
              - only_simple
              - only_complex
              - no_filter
        - $ref: '#/components/parameters/Currency'
        - name: filter[position_types]
          in: query
          style: form
          explode: false
          description: >
            Keep only positions with these types (comma-separated list).


            Possible values:

            - `deposit` - Assets deposited into a DeFi protocol (e.g., supplied
            to lending pools, deposited in vaults, or provided as liquidity)

            - `loan` - Borrowed assets representing a debt position that needs
            to be repaid

            - `locked` - Assets locked for a specific period or purpose (e.g.,
            vote-escrowed tokens, time-locked tokens)

            - `staked` - Assets staked in a protocol to earn rewards,
            participate in consensus, or for governance purposes

            - `reward` - Earned rewards that are claimable or have been
            distributed but not yet withdrawn

            - `wallet` - Regular assets held directly in the wallet, not
            actively deposited in any protocol

            - `investment` - Investment positions such as tokenized funds,
            indices, or structured products
          schema:
            type: array
            maxItems: 8
            items:
              $ref: '#/components/schemas/PositionType'
        - name: filter[chain_ids]
          in: query
          style: form
          explode: false
          description: >-
            Keep only positions from these chains (comma-separated list).
            Available chain ids can be found in chains endpoints.
          schema:
            type: array
            example:
              - polygon
            maxItems: 25
            items:
              type: string
        - name: filter[fungible_ids]
          in: query
          style: form
          explode: false
          description: >-
            Keep only positions related to given fungible assets
            (comma-separated list).
          schema:
            type: array
            maxItems: 25
            items:
              type: string
              maxLength: 44
        - name: filter[dapp_ids]
          in: query
          style: form
          explode: false
          description: >-
            Keep only positions related to these decentralized applications
            (dapps) (comma-separated list).
          schema:
            type: array
            example:
              - polygon
            maxItems: 25
            items:
              type: string
              maxLength: 32
              minLength: 1
        - name: filter[trash]
          in: query
          required: false
          description: >-
            Filter positions based on the `is_trash` flag. If no flag is
            specified, then `only_non_trash` is applied.
          schema:
            type: string
            default: only_non_trash
            enum:
              - only_trash
              - only_non_trash
              - no_filter
        - name: sort
          in: query
          required: false
          description: Choose how the result should be ordered
          schema:
            type: string
            default: value
            enum:
              - '-value'
              - value
        - name: X-Env
          in: header
          description: Custom header that allows you to get data for testnets.
          required: false
          schema:
            type: string
            enum:
              - testnet
      responses:
        '200':
          $ref: '#/components/responses/PositionsListResponse-2'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/wallet-sets/transactions/:
    get:
      operationId: listWalletSetTransactions
      summary: Get wallet set transactions
      description: >
        This endpoint returns a list of transactions associated with the wallet
        set.

        A wallet set is represented by an EVM address, a Solana address, or
        both. At least one address must be provided.


        This endpoint supports testnets. To get data for testnets use `X-Env`
        header.


        **Temporary limitations for Solana addresses:**

        - Doesn't support NFT transactions


        > NOTE: This endpoint supports a lot of filters, sorting, and pagination
        parameters. Make sure that your request URL length is safe for your
        platform. Usually, 2000 characters are the safe limit in virtually any
        combination of client and server software.


        > NOTE: Consider all IDs as abstract strings, without making any
        assumptions about their format or relying on such assumptions. There is
        a non-zero probability that IDs may change in the future, and this
        should not result in any breaking changes.
      tags:
        - wallet sets
      parameters:
        - $ref: '#/components/parameters/WalletSetAddresses'
        - $ref: '#/components/parameters/Currency'
        - $ref: '#/components/parameters/Page'
        - name: filter[search_query]
          in: query
          required: false
          description: Query for a full-text search.
          schema:
            type: string
            example: Trade
            minLength: 2
            maxLength: 64
        - name: filter[operation_types]
          in: query
          required: false
          description: >-
            Return only transactions with specified types (comma-separated
            list). See the operation type schema for the full list of values.
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Type'
        - name: filter[asset_types]
          in: query
          required: false
          description: >-
            Return only transactions that contain specified asset types
            (comma-separated list).
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AssetType'
        - name: filter[chain_ids]
          in: query
          required: false
          description: >-
            Return only transactions from specified chains (comma-separated
            list). You can find available chain ids in chain endpoints.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              example: polygon
        - name: filter[fungible_ids]
          in: query
          required: false
          description: >-
            Return only transactions with fungibles with specified ids
            (comma-separated list).
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              example: '0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48'
        - name: filter[min_mined_at]
          in: query
          required: false
          description: >-
            Return only transactions since specific date. Timestamp in
            milliseconds.
          schema:
            type: string
            example: '1688842525735'
            minLength: 13
            maxLength: 13
        - name: filter[max_mined_at]
          in: query
          required: false
          description: >-
            Return only transactions until specific date. Timestamp in
            milliseconds.
          schema:
            type: string
            example: '1694192535967'
            minLength: 13
            maxLength: 13
        - name: filter[trash]
          in: query
          required: false
          description: >-
            Filter transactions based on the `is_trash` flag. If no flag is
            specified, then `no_filter` is applied.
          schema:
            type: string
            default: no_filter
            enum:
              - only_trash
              - only_non_trash
              - no_filter
        - name: filter[fungible_implementations]
          in: query
          style: form
          explode: false
          required: false
          description: >
            Specify implementations of fungible tokens as a comma-separated list
            of `chain:address` pairs.


            Example format:
            `ethereum:0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,polygon:0x123456789abcdef123456789abcdef123456789`


            Each item consists of a blockchain `chain_id` and an `address`,
            separated by a colon (`:`). Multiple pairs can be provided using
            commas (`,`).
          schema:
            type: array
            items:
              type: string
              example: ethereum:0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48
        - name: X-Env
          in: header
          description: Custom header that allows you to get data for testnets.
          required: false
          schema:
            type: string
            enum:
              - testnet
      responses:
        '200':
          $ref: '#/components/responses/TransactionsListResponse-2'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/fungibles/:
    get:
      operationId: listFungibles
      summary: Get list of fungible assets
      description: >
        This endpoint returns a paginated list of fungible assets supported by
        Zerion. It also provides the ability to search for fungibles.

        If no fungible assets are found for given filters, the empty list with
        200 status is returned.


        > NOTE: This endpoint supports a lot of filters, sorting, and pagination
        parameters. Ensure your request URL length is within a safe range for
        your platform. Usually, 2000 characters are the safe limit in virtually
        any combination of client and server software.


        > NOTE: The `filter[implementation_address]` parameter ignores
        `filter[search_query]`. It may be changed in the future.


        > NOTE: Consider all IDs as abstract strings, without making any
        assumptions about their format or relying on such assumptions. There is
        a non-zero probability that IDs may change in the future, and this
        should not result in any breaking changes.
      tags:
        - fungibles
      parameters:
        - $ref: '#/components/parameters/Currency'
        - $ref: '#/components/parameters/Page'
        - name: filter[search_query]
          in: query
          required: false
          description: Query for a full-text search.
          schema:
            type: string
            example: Index
            minLength: 1
            maxLength: 66
        - name: filter[implementation_chain_id]
          in: query
          required: false
          description: >-
            Keep only fungibles from this chain. Available chain ids can be
            found in chains endpoints.
          schema:
            type: string
            example: polygon
        - name: filter[implementation_address]
          in: query
          required: false
          description: >-
            Keep only fungibles deployed at given address. Is it possible that
            different fungibles are deployed at the same address on different
            chains.
          schema:
            type: string
            minLength: 32
            maxLength: 44
            example: '0x2af1df3ab0ab157e1e2ad8f88a7d04fbea0c7dc6'
        - name: filter[fungible_implementations]
          in: query
          required: false
          style: form
          explode: false
          description: >
            Keep only fungibles with given implementations (comma-separated list
            of chain:address pairs). Maximum of 25 implementations allowed.

            example: "base,ethereum:0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"


            This filter is mutually exclusive with
            `filter[implementation_chain_id]` and
            `filter[implementation_address]`.
          schema:
            type: array
            maxItems: 25
            items:
              type: string
        - name: filter[fungible_ids]
          in: query
          required: false
          description: Keep only fungibles with the given ids (comma-separated list)
          style: form
          explode: false
          schema:
            type: array
            maxItems: 25
            items:
              type: string
              maxLength: 44
        - name: sort
          in: query
          required: false
          description: Choose how the result should be ordered
          schema:
            type: string
            enum:
              - '-market_data.market_cap'
              - market_data.market_cap
              - '-market_data.price.last'
              - market_data.price.last
              - '-market_data.price.percent_change_1d'
              - market_data.price.percent_change_1d
              - '-market_data.price.percent_change_30d'
              - market_data.price.percent_change_30d
              - '-market_data.price.percent_change_90d'
              - market_data.price.percent_change_90d
              - '-market_data.price.percent_change_365d'
              - market_data.price.percent_change_365d
              - '-market_data.trading_volumes.volume_1d'
              - market_data.trading_volumes.volume_1d
      responses:
        '200':
          $ref: '#/components/responses/FungiblesListResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/fungibles/{fungible_id}:
    get:
      operationId: getFungibleById
      summary: Get fungible asset by ID
      description: This endpoint returns a fungible asset by unique identifier
      tags:
        - fungibles
      parameters:
        - name: fungible_id
          in: path
          required: true
          description: Unique fungible ID
          schema:
            type: string
            maxLength: 44
        - $ref: '#/components/parameters/Currency'
      responses:
        '200':
          $ref: '#/components/responses/SingleFungibleResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/fungibles/{fungible_id}/charts/{chart_period}:
    get:
      operationId: getFungibleChart
      summary: Get a chart for a fungible asset
      description: >-
        This endpoint returns the chart for the fungible asset for a selected
        period
      tags:
        - fungibles
      parameters:
        - name: fungible_id
          in: path
          required: true
          description: Unique fungible ID
          schema:
            type: string
            maxLength: 44
        - $ref: '#/components/parameters/ChartPeriod'
        - $ref: '#/components/parameters/Currency'
      responses:
        '200':
          $ref: '#/components/responses/SingleFungibleChartResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/RetryAfter'
  /v1/fungibles/by-implementation:
    get:
      operationId: getFungibleByImplementation
      summary: Get fungible asset by implementation
      description: >
        This endpoint returns a fungible asset by its implementation.

        The implementation is a `chain` (for base asset) or `chain:address` pair
        (e.g., "ethereum",
        ethereum:0xa5a4214bb5f00c86b7969b7dc007302e4f6f05d6").
      tags:
        - fungibles
      parameters:
        - name: implementation
          in: query
          required: true
          description: >
            Fungible implementation in the format `chain` or `chain:address`

            (e.g., "ethereum:0xa5a4214bb5f00c86b7969b7dc007302e4f6f05d6").


            If only the chain is provided without an address (e.g., "ethereum"),
            it will return the base asset of that chain.
          schema:
            type: string
        - $ref: '#/components/parameters/Currency'
      responses:
        '200':
          $ref: '#/components/responses/SingleFungibleResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/fungibles/by-implementation/charts/{chart_period}:
    get:
      operationId: getFungibleChartByImplementation
      summary: Get a chart for a fungible asset by implementation
      description: >
        This endpoint returns the chart for a fungible asset for a selected
        period, identified by its implementation.

        The implementation is a chain:address pair (e.g.,
        "ethereum:0xa5a4214bb5f00c86b7969b7dc007302e4f6f05d6").
      tags:
        - fungibles
      parameters:
        - name: implementation
          in: query
          required: true
          description: >
            Fungible implementation in the format chain:address

            (e.g., "ethereum:0xa5a4214bb5f00c86b7969b7dc007302e4f6f05d6").


            If only the chain is provided without an address (e.g., "ethereum"),
            it will return the chart for the base asset of that chain.
          schema:
            type: string
        - $ref: '#/components/parameters/ChartPeriod'
        - $ref: '#/components/parameters/Currency'
      responses:
        '200':
          $ref: '#/components/responses/SingleFungibleChartResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/RetryAfter'
  /v1/chains/:
    get:
      operationId: listChains
      summary: Get list of all chains
      description: >
        This endpoint returns list of all chains supported by Zerion.


        This endpoint supports testnets. To get data for testnets use `X-Env`
        header.
      tags:
        - chains
      parameters:
        - name: X-Env
          in: header
          description: Custom header that allows you to get data for testnets.
          required: false
          schema:
            type: string
            enum:
              - testnet
      responses:
        '200':
          $ref: '#/components/responses/ChainsListResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/chains/{chain_id}:
    get:
      operationId: getChainById
      summary: Get chain by ID
      description: >
        This endpoint returns chain by unique chain identifier.


        This endpoint supports testnets. To get data for testnets use `X-Env`
        header.
      tags:
        - chains
      parameters:
        - name: chain_id
          in: path
          required: true
          description: Unique chain ID
          schema:
            type: string
        - name: X-Env
          in: header
          description: Custom header that allows you to get data for testnets.
          required: false
          schema:
            type: string
            enum:
              - testnet
      responses:
        '200':
          $ref: '#/components/responses/SingleChainResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/swap/quotes/:
    get:
      operationId: swapQuotes
      summary: Get swap and bridge quotes
      description: >
        Returns quotes from multiple liquidity sources for a same-chain swap or
        a cross-chain bridge between two fungible assets. Supports EVM chains
        and Solana, including EVM ↔ Solana bridges.


        Quotes are returned best-first: sorted in descending order by the fiat
        value of `output_amount_after_fees` (output amount minus network,
        protocol and bridge fees that are not already included in the rate).
        Quotes with the same score are tied-broken alphabetically by
        `liquidity_source.id`, so identical requests always return quotes in the
        same order.


        The `input` and `output` parameters are objects encoded with bracket
        notation in the URL — the request is sent as a flat query string. For
        example:


        ```

        GET
        /v1/swap/quotes/?currency=usd&input[chain_id]=base&input[fungible_id]=0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2&input[amount]=0.001&output[fungible_id]=0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48&from=0xd8da6bf26964af9d7eed9e03e53415d37aa96045&to=0xd8da6bf26964af9d7eed9e03e53415d37aa96045

        ```
      tags:
        - swap
      parameters:
        - name: currency
          in: query
          required: false
          description: >-
            Currency in which fiat values of amounts and fees in the response
            are expressed.
          example: usd
          schema:
            type: string
            default: usd
        - name: from
          in: query
          required: true
          description: >-
            Address of the wallet performing the swap. Must match the chain type
            of `input[chain_id]` (EVM hex or Solana base58).
          example: '0x42b9df65b219b3dd36ff330a4dd8f327a6ada990'
          schema:
            type: string
        - name: to
          in: query
          required: true
          description: >-
            Recipient of the output asset. Must match the chain type of
            `output[chain_id]`. For a same-chain swap to the same wallet, set
            `to` equal to `from`.
          example: '0xd8da6bf26964af9d7eed9e03e53415d37aa96045'
          schema:
            type: string
        - name: input
          in: query
          required: true
          description: The asset being sent.
          style: deepObject
          explode: true
          schema:
            type: object
            required:
              - chain_id
              - fungible_id
              - amount
            properties:
              chain_id:
                type: string
                description: Chain ID the input asset lives on.
                example: base
              fungible_id:
                type: string
                description: Unique fungible ID of the input asset.
                minLength: 3
                maxLength: 44
                example: '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2'
              amount:
                type: string
                description: >-
                  Human-readable input amount as a positive decimal (not in the
                  smallest unit).
                example: '0.001'
        - name: output
          in: query
          required: true
          description: The asset being received.
          style: deepObject
          explode: true
          schema:
            type: object
            required:
              - fungible_id
            properties:
              chain_id:
                type: string
                description: >-
                  Chain ID the output asset lives on. Defaults to
                  `input[chain_id]` (same-chain swap).
                example: base
              fungible_id:
                type: string
                description: Unique fungible ID of the output asset.
                minLength: 3
                maxLength: 44
                example: '0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48'
        - name: slippage_percent
          in: query
          required: false
          description: >-
            Maximum acceptable slippage in percent. When omitted, an
            auto-slippage value is chosen.
          example: 2
          schema:
            type: number
            format: float
            minimum: 0
      responses:
        '200':
          $ref: '#/components/responses/SwapQuotesResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/swap/fungibles/:
    get:
      operationId: swapFungibles
      summary: List fungibles available for bridging
      description: >-
        Returns the list of tokens available for bridging between two chains.
        Use this to populate a token picker UI. Only relevant for cross-chain
        swaps, same-chain swaps don't require this step.
      tags:
        - swap
      parameters:
        - name: input
          in: query
          required: false
          style: deepObject
          explode: true
          schema:
            type: object
            properties:
              chain_id:
                type: string
                description: >-
                  Initial chain id the user want exchange fungibles from. If
                  nothing specified then `ethereum` is used.
                example: ethereum
        - name: output
          in: query
          required: false
          style: deepObject
          explode: true
          schema:
            type: object
            properties:
              chain_id:
                type: string
                description: >-
                  Target chain id the user want receive fungibles on. If nothing
                  specified then `ethereum` is used.
                example: polygon
        - name: direction
          in: query
          description: >-
            The direction parameter is a parameter that determines the flow of
            fungibles involved in the transaction. It can have three possible
            values: 'input', 'output', or 'both'. The value 'input' indicates
            that the API endpoint will only return fungibles that the user can
            send. The value 'output' indicates that the API endpoint will only
            return fungibles that the user can receive. The value 'both' means
            that the API endpoint will return fungibles which are 'input' and
            'output' at the same time. In other words - intersection for 'input'
            and output'. If nothing specified then `both` is used.
          example: both
          schema:
            type: string
            enum:
              - input
              - output
              - both
      responses:
        '200':
          $ref: '#/components/responses/SwapFungiblesResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/gas-prices/:
    get:
      operationId: listGasPrices
      summary: Get list of all available gas prices
      description: >-
        This endpoint provides real-time information on the current gas prices
        across all supported blockchain networks. Gas prices play a crucial role
        in the speed and cost of executing transactions on a blockchain, and
        fluctuate frequently based on network demand and usage. By using this
        endpoint, developers can stay up-to-date with the latest gas prices and
        adjust their application's transaction parameters accordingly to ensure
        optimal speed and cost efficiency.
      tags:
        - gas
      parameters:
        - name: filter[chain_ids]
          in: query
          required: false
          description: >-
            Return only gas prices from specified chains (comma-separated list).
            You can find available chain ids in chain endpoints.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              example: polygon
        - name: filter[gas_types]
          in: query
          required: false
          description: >-
            Return only gas prices with specified gas-type (comma-separated
            list).
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Type-2'
      responses:
        '200':
          $ref: '#/components/responses/GasPricesResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/nfts/:
    get:
      operationId: listNFTs
      summary: Get list of NFTs
      description: >
        This endpoint returns list of NFTs by using different parameters.


        It returns NFTs of both types - ERC721 and ERC1155.


        This endpoint supports testnets. To get data for testnets use `X-Env`
        header.


        > NOTE: Consider all IDs as abstract strings, without making any
        assumptions about their format or relying on such assumptions. There is
        a non-zero probability that IDs may change in the future, and this
        should not result in any breaking changes.
      tags:
        - nfts
      parameters:
        - name: filter[references]
          in: query
          style: form
          explode: false
          description: >
            Keep only NFTs matching specified references.


            Reference format is `chain_id:contract_address:token_id`.


            References should be separated by comma `,`.


            `chain_id`- ID of the chain where NFT exists, can be found in
            /chains endpoint.


            `contract_address` address of the deployed contract which NFT
            belongs to.


            `token_id` id of the NFT withing specified `contract_address`.


            NOTE: parameter currently is mandatory and can not be omitted.
          schema:
            type: string
            example: >-
              ethereum:0x932261f9fc8da46c4a22e31b45c4de60623848bf:93673,polygon:0x3d8c06e65ebf06a9d40f313a35353be06bd46038:104901
            minItems: 1
            maxItems: 10
            items:
              type: string
        - $ref: '#/components/parameters/Currency'
        - name: include
          in: query
          required: false
          style: form
          explode: false
          description: >-
            Array of related resources to be included to the response
            (comma-separated list). This parameter corresponds to the JSON API
            schema.
          schema:
            type: array
            items:
              type: string
              example: nft_collections
              enum:
                - nft_collections
        - name: X-Env
          in: header
          description: Custom header that allows you to get data for testnets.
          required: false
          schema:
            type: string
            enum:
              - testnet
      responses:
        '200':
          $ref: '#/components/responses/NFTsResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/nfts/{nft_id}:
    get:
      operationId: getNFTById
      summary: Get single NFT by ID
      description: >
        This endpoint returns single NFT by its unique identifier.


        This endpoint supports testnets. To get data for testnets use `X-Env`
        header.
      tags:
        - nfts
      parameters:
        - name: nft_id
          in: path
          required: true
          description: NFT unique identifier
          schema:
            type: string
        - $ref: '#/components/parameters/Currency'
        - name: include
          in: query
          required: false
          style: form
          explode: false
          description: >-
            Array of related resources to be included to the response
            (comma-separated list). This parameter corresponds to the JSON API
            schema.
          schema:
            type: array
            items:
              type: string
              example: nft_collections
              enum:
                - nft_collections
        - name: X-Env
          in: header
          description: Custom header that allows you to get data for testnets.
          required: false
          schema:
            type: string
            enum:
              - testnet
      responses:
        '200':
          $ref: '#/components/responses/NFTResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/dapps:
    get:
      operationId: listDApps
      summary: Get list of DApps
      description: >
        This endpoint returns list of DApps by using different parameters.


        > NOTE: Consider all IDs as abstract strings, without making any
        assumptions about their format or relying on such assumptions. There is
        a non-zero probability that IDs may change in the future, and this
        should not result in any breaking changes.
      tags:
        - dapps
      parameters:
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          $ref: '#/components/responses/DAppsResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/dapps/{dapp_id}:
    get:
      operationId: getDAppByID
      summary: Get DApp by ID
      description: |
        This endpoint returns single DApp by its unique identifier.
      tags:
        - dapps
      parameters:
        - name: dapp_id
          in: path
          required: true
          description: DApp's unique identifier
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DAppResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/tx-subscriptions/:
    get:
      operationId: findWalletTransactionsSubscription
      summary: Find subscriptions
      description: >
        This endpoint finds subscriptions to new transactions associated with
        the wallets and chains. Currently response is limited to 1000
        subscriptions in the response.


        > NOTE: Consider all IDs as abstract strings, without making any
        assumptions about their format or relying on such assumptions. There is
        a non-zero probability that IDs may change in the future, and this
        should not result in any breaking changes.
      tags:
        - subscriptions to transactions
      parameters:
        - name: filter[chain_ids]
          in: query
          required: false
          description: >-
            Comma-separated chain ids. Finds subscriptions on the specified
            chains. Searches over all chains if omitted.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              example: polygon
      responses:
        '200':
          $ref: '#/components/responses/SubscriptionsResponse'
        '400':
          $ref: '#/components/responses/MalformedParameters'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      operationId: createSubscriptionWalletTransactions
      summary: Create subscription
      description: >
        This endpoint subscribes to new transactions associated with the
        wallets.


        > NOTE: Consider all IDs as abstract strings, without making any
        assumptions about their format or relying on such assumptions. There is
        a non-zero probability that IDs may change in the future, and this
        should not result in any breaking changes.


        ### Use Case

        The main use case for the webhooks system is to send notifications,
        similar to push notifications in the Zerion App.


        ### Setup Callback URL

        If you want to use this endpoint to test how it works, you might use
        your dev key to start. It has limits: one subscription & maximum 5
        wallets per subscription.

        You may use callback URL from webhook.site to start from. If want use
        your custom - contact us at api@zerion.io, and we will whitelist your
        URL.


        If you want to use this endpoint in your production environment, you
        should contact us and provide the following details:

        - Your email associated with the API key

        - The URL that you prefer using as the callback (or host).


        After we've whitelisted your callback URL (or host), you may start using
        this endpoint.


        ### Note

        - **Subscription Validity**: Every subscription is valid for unlimited
        amount of time for production key, and one week for `dev` keys.

        - **Transaction Prices**: Prices are not attached to webhook
        notifications and will always be `null`. Prices are added to
        transactions in the backend after some time. To get prices, query the
        transactions endpoint by hash.

        - **Delivery Guarantees**: Webhook delivery is not guaranteed. If
        delivery fails three times, no further attempts will be made.

        - **Order of Dispatch**: The order of webhook dispatch is not guaranteed
        and may not correspond to the order of transactions occurring on the
        blockchain.


        ### Callback Format and Signature Verification

        Approved clients will receive notifications via POST requests to their
        provided URL. These notifications will include a signed notification
        object in the body (specified below in the `Callback` section) and a
        signature in the headers.


        Clients should verify the signature provided in the headers of the
        webhook request to ensure the authenticity of the data. The following
        headers will be included:

        - `X-Signature`: The signature of the request.

        - `X-Timestamp`: The timestamp of the request.

        - `X-Certificate-URL`: The URL to download the public certificate used
        to verify the signature.


        **To verify the signature:**

        1. Concatenate the `X-Timestamp` header value, the request body, and a
        newline character: `$timestamp + "\n" + $request.body + "\n"`

        2. Use the public certificate downloaded from the `X-Certificate-URL`
        header to verify the signature in the `X-Signature` header.


        Example code in go for message verification:


        ```go

        package signature


        import (
          "crypto"
          "crypto/rsa"
          "crypto/sha256"
          "crypto/x509"
          "encoding/base64"
          "encoding/pem"
          "errors"
          "github.com/stretchr/testify/assert"
          "testing"
        )


        // FetchCertificate fetches the certificate from the given URL

        func FetchCertificate() (*x509.Certificate, error) {
          certBytes := certificate()
          block, _ := pem.Decode(certBytes)
          if block == nil || block.Type != "CERTIFICATE" {
            return nil, errors.New("failed to decode PEM block containing the certificate")
          }

          return x509.ParseCertificate(block.Bytes)
        }


        func certificate() []byte {
          return []byte(`-----BEGIN CERTIFICATE-----
        MIIDMTCCAhmgAwIBAgIUDd3dFMswamyJ5A1bqF0nzS8v2wgwDQYJKoZIhvcNAQEL

        BQAwQTELMAkGA1UEBhMCVVMxFDASBgNVBAoMC1plcmlvbiBJbmMuMRwwGgYJKoZI

        hvcNAQkBFg1hcGlAemVyaW9uLmlvMB4XDTI0MDYyNzE1MzUzM1oXDTI1MDYyNzE1

        MzUzM1owQTELMAkGA1UEBhMCVVMxFDASBgNVBAoMC1plcmlvbiBJbmMuMRwwGgYJ

        KoZIhvcNAQkBFg1hcGlAemVyaW9uLmlvMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A

        MIIBCgKCAQEAwcPVCPLDhS9dLA8s5J6GJ3t0+jWuUCFwI+q6c03xZnhCaz45FepN

        MTiApbvPw1Zm8F8JQB4BRp/F5anokNcDSl/qmNtj3M/z/FrsVvGnSH2FOkZu9TLU

        LTW5i8Q0LAYrpgiBHrTa2qrRXd2DiMrEs3QZVoylFYc9QIGet3SULPrlSsYEKxfB

        iBZDoFw619NnV6/kBO8FS34Lc+WH5SNNHNnItRrxMv4DMAFyFajSn1IwV6LSWSNK

        aPJHCzP/Omu95550HQKcXaJYNE/d99NrcLaFI2fCuEVd00nApFo5knKs0FiXpGca

        l3cLOQG5SCOzUOjQb6X5CynEV+0QiyYxDwIDAQABoyEwHzAdBgNVHQ4EFgQUVL4m

        u0PcI4nJGUS8syLi5DNL44YwDQYJKoZIhvcNAQELBQADggEBAKaA1oqW0D6KxvIp

        IZxWf02XK/YFYwxKV55Vas0VWlzNemE2IjlIj0tknZt0EiM9um2FC27U9n3u0ApS

        UDrk96dQ+/RY3T3fiuXysa3ZL05OpreRk0aPuFU9rB4iLTgFiv1G/X5XXJ8O7OQb

        48u0vQnYXjT/nt72TMUoakjZ68QsP64FkG8mcK62Tg+FVWB9YWTFc0wOjsOt9RzJ

        muKCQ7qx7L1GhkxKX4ZhrYItsH1DzXjeP5aniZgLBSPbxt01tUrSjOGN5CLOpdG8

        iOnAFP+Nz8S0h2C7hppOHgC+uxY285UrzAZQoMbCREMV+0Mq/aqdF1B6qoKGNGqL

        kFbUhvo=

        -----END CERTIFICATE-----

        `)

        }


        func VerifySignature(cert *x509.Certificate, message, signature string)
        error {
          pubKey := cert.PublicKey.(*rsa.PublicKey)

          hashed := sha256.Sum256([]byte(message))
          sigBytes, err := base64.StdEncoding.DecodeString(signature)
          if err != nil {
            return err
          }

          return rsa.VerifyPKCS1v15(pubKey, crypto.SHA256, hashed[:], sigBytes)
        }


        func TestVerifySignature(t *testing.T) {
          // Example usage
          x509Cert, err := FetchCertificate()
          assert.NoError(t, err)

          xTimestamp := "2024-07-31T00:17:36Z"
          xSignature := "t65gdR8z3NGh/OQRPzGMFmw36JhDNvOe6LxL6K2hCd3SdYQoTGr76dAy1CpsX2G8XVOIYUIctUQvgICQvtDctVjkRZmXuQDvXHOmiJE0ZknORgjVLFoo5JRYKvwt3EPp6SMN7RtedIX17rH1s2Vp3GRQWSjzN7C/cNgInhCQOP0UDjYlaeNT/yW4B2Qt4uY01yK0YhvQJaFHN+NNr7DZAt4FJuDppItqjaYbHTaFNqLlpI1IX7YvQWVhEYTJY6M4T9IdcGYPJKDljckjvmj9mDHZeh/Y6w8eXjLziMSFvlhJeSn1kBIR3nS7lTcwFNv1CPxD3MM7VB++te3mBbFubg=="
          messageBody := `{"data":{"attributes":{"timestamp":"2024-07-31T00:17:36.661896043Z"},"id":"15daee90-5028-4b4c-bd49-b4d43fa1a89e","type":"callback"},"included":[{"attributes":{"application_metadata":{"contract_address":"0x8286d601a0ed6cf75e067e0614f73a5b9f024151","method":{"id":"0x7859bb8d","name":""}},"approvals":[],"fee":{"fungible_info":{"flags":{"verified":true},"icon":{"url":"https://cdn.zerion.io/eth.png"},"implementations":[{"address":"","chain_id":"redstone","decimals":18},{"address":"","chain_id":"polygon-zkevm","decimals":18},{"address":"","chain_id":"optimism","decimals":18},{"address":"","chain_id":"zksync-era","decimals":18},{"address":"","chain_id":"mode","decimals":18},{"address":"","chain_id":"base","decimals":18},{"address":"","chain_id":"ethereum","decimals":18},{"address":"","chain_id":"aurora","decimals":18},{"address":"","chain_id":"scroll","decimals":18},{"address":"","chain_id":"rari","decimals":18},{"address":"","chain_id":"astar-zkevm","decimals":18},{"address":"","chain_id":"arbitrum","decimals":18},{"address":"","chain_id":"zora","decimals":18},{"address":"","chain_id":"blast","decimals":18},{"address":"","chain_id":"linea","decimals":18},{"address":"","chain_id":"manta-pacific","decimals":18}],"name":"Ethereum","symbol":"ETH"},"price":null,"quantity":{"decimals":18,"float":0.0000016785001958,"int":"1678500195825","numeric":"0.000001678500195825"},"value":null},"flags":{"is_trash":false},"hash":"0xbbcfb0ac5e466ded168794a162da334634fee3f95adfdb55392999f91b4c6d41","mined_at":"2024-07-31T00:17:35Z","mined_at_block":7490818,"nonce":250,"operation_type":"execute","sent_from":"0xfc0f1b3fb88c5ab19e77a6f7d4d637272e71e684","sent_to":"0x8286d601a0ed6cf75e067e0614f73a5b9f024151","status":"confirmed","transfers":[]},"id":"a65b2541c58a5908a7333480f0ac6792","relationships":{"chain":{"id":"linea","type":"chains"},"dapp":{"id":"","type":"dapps"}},"type":"transactions"}]}`

          message := xTimestamp + "\n" + messageBody + "\n"

          err = VerifySignature(x509Cert, message, xSignature)
          assert.NoError(t, err)
        }

        ```
      tags:
        - subscriptions to transactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - callback_url
                - addresses
              properties:
                callback_url:
                  type: string
                  description: |
                    Callback URL where updates will be delivered to
                  example: https://webhook.site/fcd606d2-f5bd-4832-9874-ff07c980b5a3
                addresses:
                  type: array
                  description: >
                    Addresses of the wallets to create subscription for. Maximum
                    100 addresses per subscription.

                    Note: Free tier accounts are limited to 5 addresses per
                    subscription.
[...]
